{% extends "_base.html" %}
{% block title %}All work experience{% endblock %}
{% block body %}
    <h1>Experience:</h1>
    <div class="all">
            {% for job in object_list %}
                <article>
                    <a href="{% url 'job:single' job.pk %}"><h2>{{ job.company }}, {{job.position}}</h2></a>
                    <strong>{{ job.started }} ~ {{ job.ended }}</strong>
                    <hr>
                    <p>{{ job.description }}</p>
                </article>
            {% endfor %}
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add new job</button>
    </form>

{% endblock %}
