{% extends "_base.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

    <h1>Blog:</h1>
    <a href="{% url 'blog:add'%}" ><button>Add new theme</button></a>
    <div class="all">
            {% for blog in object_list %}
                <article>
                    <a href="{% url 'blog:single' blog.pk %}"><h2>{{ blog.theme }}</h2></a>
                    <hr>
                    <p>{{ blog.description }}</p>
                </article>
            {% endfor %}
    </div>
    <hr>


{% endblock %}
