.form-grid {
    width: 80%;
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-areas:
    "form-errors    form-errors"
    "username       password1"
    "email          password2";
    }

    .form-grid > .username {
    grid-area: username;
    }

    .form-grid > .email {
    grid-area: email;
    }

    .form-grid > .password1 {
    grid-area: password1;
    }

    .form-grid > .password2 {
    grid-area: password2;
    }

    .form-grid > .form-errors {
    padding-left: 2rem;
    border: 1px darkred dotted;
    color: darkred;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: calc(var(--font-size) * 0.8);
    grid-area: form-errors;
    }

    .form-grid > .form-field > * {
    display: block;
    }

    .form-grid > .form-field > .errorlist {
    background: rgba(255, 50, 50, 0.3);
    margin: 0;
    padding-right: 0;
    width: 70%;
    }

    .form-grid > .form-field > input {
    height: 2rem;
    font-size: calc(var(--font-size) * 0.8);
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    width: 80%;
    }
